<footer class="container-fluid black-bg">
    <div class="row">
        <div class="row text-sm-center mt-5 mb-5 footer" style="margin: 0 auto;">
            {% if page.footer %}
                {{ page.footer }}
            {% endif %}
        </div>
    </div>
    </div>
</footer>