.orange-bg {
    background-color: #EE9900;
}

.orange {
    color: #EE9900;
}

.black-bg {
    background-color: #3E3E3E;
}

.menu-button {
    background-color: #EE9900;
    padding: 5px 10px;
    border-radius: 20px;
}

.navbar-brand > a {
    color: black;
    text-decoration: none;
}

footer {
    min-height: 150px;
}

.footer li a{
    color: white;
}

.menu-button > a {
    color: white;
}



h1, h2, h3, h4, h5 {
    font-family: "Playfair Display", Serif;
    font-weight: 700;
}

.top-row {
    position: relative;
    z-index: 1000;
}

.bottom-row {
    position: relative;
    z-index: 100;
}

.footer-logo {
    width: 125px;
}

#mapid {
    height: 350px;
}
