/*FONTS */

$playfair: "Playfair Display", Serif;
$worksans: 'Work Sans SemiBold', SansSerif;

/* COLORS */

$orange: #EE9900;
$black: #3E3E3E;
$white: #FFF;
$fadedwhite: #f0f0f0;

/* PADDING AND MARGIN */
$small-pad-marg: 5px;
$normal-pad-marg: 10px;
$large-pad-marg: 15px;
$huge-pad-marg: 20px;

/*RADIUS */
$small-radius: 5px;
$normal-radius: 10px;
$large-radius: 15px;
$huge-radius: 20px;

/* HEIGHTS OR WIDTH*/
$normal-height-width: 50px;
$large-height-width: 100px;
$very-large-height-width: 125px;
$huge-height-width: 150px;
$massive-height-width: 350px;

/* Z-INDEX */

$below: 1;
$above: 10;
$higher: 100;
$top: 1000;
$over-everything: 10000000;